body {
  font-family: 'Quicksand', sans-serif;
  background: #d4d3d3;
}

header {
  background: #807e7e;
  margin: 0;
  padding: 20px;
}

.caixa {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.logo,
.logo-branco {
  width: 250px;
  margin: 1.25em 0;
}

nav {
  top: 0;
  right: 0;
}

nav li {
  display: inline-flex;
  margin: 0 0 0 1.5em;
  margin-top: 7em;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 1.7em;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
  text-decoration: none;
}

/* css da pagina incial */

.banner {
  width: 100%;
  margin-bottom: 3em;
}

.titulo-principal {
  text-align: center;
  font-size: 2.3em;
  margin: 0 0 1em;
  clear: left;
  text-shadow: 2px 2px 0 #afaaaa; /*  eixo x y sombra na font*/
}

.principal {
  background: #d4d3d3;
  margin: 0 auto;
  width: 900px;
}

.principal p {
  margin: 0 0 1em;
  font-size: 1.5em;
  text-align: justify;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 200px;
  float: left;
  margin: 0 1.25em 1.25em 0;
}

.mapa {
  background: #d4d3d3;
  padding: 3em 0;
  
}

.mapa-conteudo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 800px;
  border-radius: 15px;
  overflow: hidden;
}

.mapa p {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 1em;
}

.beneficios {
  padding: 2em 0;
  background: #d4d3d3;
}

.conteudo-beneficios {
  display: flex;
  justify-content: space-around;
  width: 800px;
  margin: 0 auto;
  font-size: 1.4em;
  
}

.lista-beneficios {
  width: auto;
  display: inline-block;
  vertical-align: top;
}

.itens {
  line-height: 1.75;
}

.itens:nth-child(2n + 1) {
  font-weight: bold;
}

/*firt-child = uso quando quero apenas o primeiro item com alguma formatação*/

.itens:before {
  content: '✂ ';
}

.imagem-beneficios {
  width: 40%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 7px 7px 10px #ffffff;
  
}

.imagem-beneficios:hover {
  opacity: 0.3;
}

.video {
  width: 600px;
  margin: 3em auto;
}

/* css produtos.html*/

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}

.produtos li {
  width: 350px;
  height: 500px;
  text-align: center;
  background: #ffffff;
  vertical-align: top;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 3px solid #000000;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #807e7e;
}

.cabelo,
.barba,
.cabelobarba {
  width: 400px;
  height: 500px;
  margin: 30px;
}

.produtos li:hover {
  border-color: #807e7e;
}

.produtos li:active {
  border-color: #05f825;
}

.produtos li:hover h2 {
  font-size: 35px;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}

.produto-descricao {
  font-size: 24px;
  margin: 10px;
}

.produto-preco {
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
}

footer {
  text-align: center;
  background: url('./imagens/bg.jpg');
  padding: 40px 0;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin: 20px 0 0;
}

/* codigos contato.html */

.formulario {
  width: auto;
  margin: 0 auto;
}

form {
  margin: 40px;
  padding-left: 18em;
}

form label,
form legend {
  display: block;
  font-size: 1.5em;
  margin: 0 0 0.4em;
}

.input-padrao {
  display: block;
  margin: 1.5em 0 1.25em;
  padding: 0.65em 1.55em;
  width: 50%;
}

/* Campo de testes dos input*/

input:focus:required:invalid {
  color: rgb(192, 30, 30);
}

.checkbox {
  margin: 1.5em 0;
}

.enviar {
  width: 25%;
  padding: 15px 0;
  background: #807e7e;
  color: #ffffff;
  font-weight: bold;
  font-size: 1.8em;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
  box-shadow: 5px 5px 10px #cccecc;
}

.enviar:hover {
  background: #05f825;
  transform: scale(1.1);
}

table {
  justify-content: center;
  margin: 0 auto 3em;
}

thead {
  background: #555555;
  color: #ffffff;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000000;
  padding: 8px 15px;
}

/*configuração adaptativa para mobile*/

@media screen and (max-width: 600px) {

  *{
    margin: 20px;
  }

  .principal {
    width: auto;
  } 

  .principal p {
    font-size: 100%;
  }

  .conteudo-beneficios {
    flex-direction: column;
    padding-left: 50px;
    width: auto;   
  }

  .imagem-beneficios {

    width: 80%;

  }

  .video {
    width: auto;
  }

  /* produtos.html */

  .produtos li {
    width: 90%;
    padding: 20px 10px;
  }

  .mapa-conteudo {
    width: auto;
  }
  
}
