body {
  font-family: 'Quicksand', sans-serif;
  background: #d4d3d3;
}

header {
  background: #807e7e;
  margin: 0;
  padding: 20px;
}

.caixa {
  width: 1200px;
  position: relative;
  margin: 0 auto;
}

.logo,
.logo-branco {
  width: 300px;
  margin: 20px 0;
}

nav {
  position: absolute;
  top: 0;
  right: 0;
}

nav li {
  display: inline-flex;
  margin: 0 0 0 20px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 2em;
  text-decoration: none;
}

nav a:hover {
  color: #ffffff;
  text-decoration: none;
}

/* css da pagina incial */

.banner {
  width: 100%;
}

.titulo-principal {
  text-align: center;
  font-size: 3em;
  margin: 0 0 1em;
  clear: left;
  text-shadow: 2px 2px 0 #afaaaa; /*  eixo x y sombra na font*/
}

.principal {
  padding: 3em 0 1em 0;
  background: #d4d3d3;
  width: 1200px;
  margin: 0 auto;
}

.principal p {
  margin: 0 0 1em;
  font-size: 1.5em;
  text-align: justify;
}

.principal strong {
  font-weight: bold;
}

.principal em {
  font-style: italic;
}

.utensilios {
  width: 120px;
  float: left;
  margin: 0 20px 20px 0;
}

.mapa {
  background: #d4d3d3;
}

.mapa-conteudo {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
  border-radius: 10px;
  overflow: hidden;
}

.mapa p {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 2em;
}

.beneficios {
  padding: 2em 0;
  background: #d4d3d3;
}

.conteudo-beneficios {
  width: 768px;
  margin: 0 auto;
  font-size: 1.5em;
}

.lista-beneficios {
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.itens {
  line-height: 1.75;
}

.itens:nth-child(2n + 1) {
  font-weight: bold;
}

/*firt-child = uso quando quero apenas o primeiro item com alguma formatação*/

.itens:before {
  content: '✂ ';
}

.imagem-beneficios {
  width: 50%;
  opacity: 1;
  transition: 400ms;
  box-shadow: 7px 7px 10px #ffffff;
}

.imagem-beneficios:hover {
  opacity: 0.3;
}

.video {
  width: 768px;
  margin: 3em auto;
}

/* css pagina produtos*/

.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
}

.produtos li {
  width: 350px;
  height: 500px;
  text-align: center;
  background: #ffffff;
  vertical-align: top;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 3px solid #000000;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #807e7e;
}

.cabelo,
.barba,
.cabelobarba {
  width: 400px;
  height: 500px;
  margin: 30px;
}

.produtos li:hover {
  border-color: #807e7e;
}

.produtos li:active {
  border-color: #05f825;
}

.produtos li:hover h2 {
  font-size: 35px;
}

.produtos h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}

.produto-descricao {
  font-size: 24px;
  margin: 10px;
}

.produto-preco {
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
}

footer {
  text-align: center;
  background: url('./imagens/bg.jpg');
  padding: 40px 0;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin: 20px 0 0;
}

/* codigos contato.html */

form {
  margin: 40px;
}

form label,
form legend {
  display: block;
  font-size: 1.5em;
  margin: 0 0 10px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px;
  padding: 10px 25px;
  width: 50%;
}

/* Campo de testes dos input*/

input:focus:required:invalid {
  color: rgb(192, 30, 30);
}

.checkbox {
  margin: 20px 0;
}

.enviar {
  width: 25%;
  padding: 15px 0;
  background: #807e7e;
  color: #ffffff;
  font-weight: bold;
  font-size: 2em;
  border: none;
  border-radius: 5px;
  transition: 1s all;
  cursor: pointer;
  box-shadow: 5px 5px 10px #cccecc;
}

.enviar:hover {
  background: #05f825;
  transform: scale(1.1);
}

table {
  justify-content: center;
  margin: 0 auto 3em;
}

thead {
  background: #555555;
  color: #ffffff;
  font-weight: bold;
}

td,
th {
  border: 1px solid #000000;
  padding: 8px 15px;
}

/*configuração adaptativa para mobile*/

@media screen and (max-width: 480px) {
  .caixa,
  .principal,
  .conteudo-beneficios,
  .mapa-conteudo,
  .video,
  .container {
    width: 85%;
  }

  /*header {
    flex-wrap: wrap;
  }*/

  .logo {
    margin-bottom: 30px;
  }

  .logo,
  .logo-branco {
    position: relative;
    width: 200px;
    margin: 10 auto;
  }

  h1 {
    text-align: center;
  }

  nav {
    position: relative;
  }

  nav li {
    margin: 0 0 0 30px;
  }

  nav a {
    font-size: 16px;
  }

  .titulo-principal {
    font-size: 2em;
  }

  .principal p {
    font-size: 1em;
  }

  .mapa p {
    font-size: 1em;
    margin: 0 1.1em 1em 1.1em;
  }

  .lista-beneficios,
  .imagem-beneficios {
    width: 100%;
  }

  .itens {
    line-height: 1.25;
    font-size: 0.75em;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
  }

  .cabelo,
  .barba,
  .cabelobarba {
    width: 100%;
    margin: 10px 20px;
  }
}
